.all .title{
    color: #100078;
    padding-bottom: 10px;
}
.notiLogin{
    color: red;
}
.inputUser{
    background-color: #fff68f;
}
.inputPass {
    background-color: #fff68f;
}
.linkRegister{
    text-decoration: none;

}
.buttonSubmit{
    color: black;
}