<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InforDom</servlet-name>
        <servlet-class>Controller.InforDom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Request</servlet-name>
        <servlet-class>Controller.Request</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryPay</servlet-name>
        <servlet-class>Controller.HistoryPay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryBookList</servlet-name>
        <servlet-class>Controller.HistoryBookList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElectricityWater</servlet-name>
        <servlet-class>Controller.ElectricityWater</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Book</servlet-name>
        <servlet-class>Controller.Book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>Controller.Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recharge</servlet-name>
        <servlet-class>Controller.Recharge</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BaseRequiredAuthenticationController</servlet-name>
        <servlet-class>Controller.BaseRequiredAuthenticationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>Controller.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADPage</servlet-name>
        <servlet-class>Controller.ADPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADstudent</servlet-name>
        <servlet-class>Controller.ADstudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADeditStudent</servlet-name>
        <servlet-class>Controller.ADeditStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADaddStudent</servlet-name>
        <servlet-class>Controller.ADaddStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADElectricityWater</servlet-name>
        <servlet-class>Controller.ADElectricityWater</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADaddBills</servlet-name>
        <servlet-class>Controller.ADaddBills</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADHistoryBook</servlet-name>
        <servlet-class>Controller.ADHistoryBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADHistoryPay</servlet-name>
        <servlet-class>Controller.ADHistoryPay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADRoom</servlet-name>
        <servlet-class>Controller.ADRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADaddRoom</servlet-name>
        <servlet-class>Controller.ADaddRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADRequest</servlet-name>
        <servlet-class>Controller.ADRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADReply</servlet-name>
        <servlet-class>Controller.ADReply</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InforDom</servlet-name>
        <url-pattern>/room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Request</servlet-name>
        <url-pattern>/Request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryPay</servlet-name>
        <url-pattern>/HistoryPay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryBookList</servlet-name>
        <url-pattern>/HistoryBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ElectricityWater</servlet-name>
        <url-pattern>/ElectricityWater</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Book</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recharge</servlet-name>
        <url-pattern>/Recharge</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BaseRequiredAuthenticationController</servlet-name>
        <url-pattern>/BaseRequiredAuthenticationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADPage</servlet-name>
        <url-pattern>/ADPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADstudent</servlet-name>
        <url-pattern>/ADstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADeditStudent</servlet-name>
        <url-pattern>/ADeditStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADaddStudent</servlet-name>
        <url-pattern>/ADaddStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADElectricityWater</servlet-name>
        <url-pattern>/ADElectricityWater</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADaddBills</servlet-name>
        <url-pattern>/ADaddBills</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADHistoryBook</servlet-name>
        <url-pattern>/ADHistoryBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADHistoryPay</servlet-name>
        <url-pattern>/ADHistoryPay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADRoom</servlet-name>
        <url-pattern>/ADRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADaddRoom</servlet-name>
        <url-pattern>/ADaddRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADRequest</servlet-name>
        <url-pattern>/ADRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADReply</servlet-name>
        <url-pattern>/ADReply</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
